.App {
  text-align: center;
}

body{
  font-family: Plus Jakarta Sans,sans-serif;
    color: #2c2a29;
    margin: 0px;
    padding: 0px;
  }

  .logoContainer {
    width: 15%;
    
    .logo {
      margin: 0 auto;
      width: 65px;
      height: 65px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: content-box;
      cursor: pointer;
    }
  }
  .boxContainer{
    width: 80%;
    margin: 0 auto;
  }