.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Plus Jakarta Sans,sans-serif;
  color: #1a1a1a;

  .gridHeader {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    .gridTitle{
        width: 350px;
        height: 36px;
        margin: 22px 0px;
        font-size: 22px;
    }
    .seeAll{
        width: 50px;
        height: 22px;
        line-height: 22px;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
    }
  }

  .gridContent {
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); /* Adjusts columns to fit the screen */
    grid-gap: 25px;
  }
}
