$blue: #33cee5;

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  .wrap {
    width: 100%; /* Full width of the parent container */
    max-width: 100vw;
    height: 40vw; /* Maintain proportional height */
    overflow: hidden;
    position: relative;
    margin: 20px auto;

    .imgList {
      display: flex;
      width: calc(100% * 4); /* Multiply 100% by the number of images */
      height: 100%;
      left: 0;
      position: relative;
      .img {
        flex: 1;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: rgba(15, 19, 38, 0.35);
        background-blend-mode: darken;
        display: flex;
        align-items: center;

        .bannerContainer {
          width: 75%;
          height: 65%;
          margin: 0 auto;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-transform: uppercase;
        }
        .bannerTitle {
          font-size: 35px;
          font-weight: 700;
        }
        .bannerLink {
          font-size: 12px;
          width: 120px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: $blue;
          margin: 20px 0px;
          cursor: pointer;
          transition: all 0.5s ease-in;
          position: relative;
      
        }


        .bannerLink:hover {
          transform: scale(1.1);
          background-color: rgba(96, 201, 237, 0.9);
        }
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between; /* Space arrows apart */
      transform: translateY(-50%); /* Vertically center the arrows */

      .iconfont {
        font-size: 60px;
        font-weight: 900;
        color: $blue;
        cursor: pointer; /* Add cursor pointer for interactivity */
      }
      .icon-lunbozuofangun {
        margin-left: 30px; /* Optional spacing from edge */
      }

      .icon-lunboyoufangun{
        margin-right: 30px; /* Optional spacing from edge */
      }
    }

    .circleList {
      position: absolute;
      bottom: 20px; /* Adjust this value to move it further up or down */
      left: 50%; /* Aligns it horizontally at the center */
      transform: translateX(-50%); /* Shifts it to the exact center */
      display: flex; /* Horizontally aligns the circles */
      list-style: none;
      padding: 0;
    }
    .circle {
      margin: 0 5px; /* Space between the circles */
      cursor: pointer;
    }

    .icon-circle {
      font-size: 20px;
      color: white;
    }
    .activeCircle {
      color: $blue;
    }
  }
}

.homeProducts {
  width: 80%;
  margin: 0 auto;
}
