.container {
  width: 230px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.5px solid #e1e1e1;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .itemContainer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    transition: transform 0.5s ease; /* Add transition for smooth upward movement */

    .itemImgContainer {
      width: 100%;
      height: 250px;
      overflow: hidden;
      margin: 0 auto;
      background-color: white;
      display: flex;
      align-items: center;

      .itemImg {
        width: 75%;
        height: 200px;
        margin: 0 auto;
        background-position: center;
        background-size: cover;
      }
    }




    .itemInfo {
      width: 100%;
      height: 100px;
      padding: 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      .itemTitle {
        font-size: 12px;
        height: 28px;
      }
      .itemCategory {
        width: 100%;
        height: 15px;
        line-height: 20px;
        font-size: 11px;
        color: #b6b6b6;
        font-style: italic;
      }
      .itemPrice {
        width: 100%;
        height: 35px;
        line-height: 35px;
        font-size: 12px;
      }
      .itemPrice::before {
        content: "$";
      }
      .itemPrice::after {
        content: ".00";
      }
    }
  }

  .addToContainer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    position: absolute;
    text-align: center;
    bottom: -50px; /* Hidden initially */
    color:white;
    transition: all 0.5s ease;
    cursor: pointer;
  }

}

.container:hover .itemContainer {
  transform: translateY(-30px); /* Move the glassContainer upward */
}

.container:hover .addToContainer {
  bottom: 0; /* Reveal addToContainer when hovering */
}

