@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1730346757032') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouyezhuyetubiao04:before {
  content: "\e603";
}

.icon-shouyezhuyetubiao05:before {
  content: "\e604";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-chacha:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e697";
}

.icon-gouwudai_o:before {
  content: "\eb60";
}

.icon-yk_yuanquan_fill:before {
  content: "\e5cd";
}

.icon-jiantou-copy:before {
  content: "\e502";
}

.icon-jiantou:before {
  content: "\e503";
}

