@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1727989828209') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy-copy:before {
  content: "\e668";
}

.icon-jiantou-copy-copy-copy:before {
  content: "\e669";
}

.icon-lunboyoufangun:before {
  content: "\e7b7";
}

.icon-lunbozuofangun:before {
  content: "\e7b8";
}

.icon-circle:before {
  content: "\e816";
}

.icon-gouwudai_o:before {
  content: "\eb60";
}

.icon-cross:before {
  content: "\e60c";
}

.icon-search:before {
  content: "\e657";
}

